/CalculatorProject
/Concatenation
/conditionalStatement
/DataType
/DLLs
/Doc
/include
/Lib
/libs
/LICENSE.txt
/Loop
/Operators
/Personal Project
/project
/ROugh.py
/Scripts
/star pattern
/String
/tcl
/TkinterExample
/TypeCasting